# Analizador de Ventas

### Objetivo
Crear un programa en Python que analice un conjunto de datos de ventas de una tienda. El programa debe realizar varias operaciones de Data Science para proporcionar información valiosa sobre las ventas de la tienda.

### Objetivos

1. **Lectura de Datos**: Crear un DataFrame que contenga los datos provistos en el archivo **Datos_Ventas_Tienda.csv**. 
2. **Fusión de Datos**: Crear un segundo DataFrame que contenga los datos del archivo **Datos_Ventas_Tienda2.csv**, y concatenarlos para tener un solo dataFrame con toda la información.
3. **Tratamiento de Datos**: Utilizar Pandas para manipular estos datos. Realizar tareas como limpieza de datos, filtrado y  transformaciones básicas.
4. **Análisis de Ventas**: Realizar un análisis para responder preguntas como:
- ¿Cuál es el producto más vendido?
- ¿Cuál es el mes con más ventas?
5. **Datos Agrupados**: Agrupar los datos por categoría de producto y analizar las ventas por categoría.
6. **Guardar Resultados**: Al final, guardar el DataFrame completo (incluyendo la columna de meses) en un archivo .csv en el computador.

In [15]:
import pandas as pd

In [ ]:
#Lectura de Datos
ruta1 = 'C:/Users/tomor/OneDrive/Documentos/Programacion/Python para Data Science & Machine Learning/Proyectos/Pandas/Analizador-de-ventas/Datos_Ventas_Tienda.csv'
ruta2 = 'C:/Users/tomor/OneDrive/Documentos/Programacion/Python para Data Science & Machine Learning/Proyectos/Pandas/Analizador-de-ventas/Datos_Ventas_Tienda2.csv'

In [17]:
df1 = pd.read_csv(ruta1)
df2 = pd.read_csv(ruta2)

In [18]:
df1.head()

       Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0  1/17/2023  Electrónic         7              200         1400
1   9/1/2023  Electrónic         8              200         1600
2  7/29/2023    Juguetes         3               30           90
3  10/4/2023   Alimentos         4               10           40
4  2/28/2023  Electrónic         6              200         1200

In [19]:
df2.head()

        Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0   8/25/2023  Electrónic         5              200         1000
1   8/14/2023   Alimentos         9               10           90
2   8/30/2023        Ropa         6               50          300
3   11/9/2023   Alimentos         2               10           20
4  10/26/2023        Ropa         8               50          400

In [20]:
#Fusión de Datos
df_unido = pd.concat([df1, df2], axis=0, ignore_index=False)

In [21]:
df_unido

        Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0   1/17/2023  Electrónic         7              200         1400
1    9/1/2023  Electrónic         8              200         1600
2   7/29/2023    Juguetes         3               30           90
3   10/4/2023   Alimentos         4               10           40
4   2/28/2023  Electrónic         6              200         1200
..        ...         ...       ...              ...          ...
45  9/11/2023    Juguetes        10               30          300
46   1/3/2023    Juguetes        10               30          300
47  11/7/2023   Alimentos         3               10           30
48  8/20/2023  Electrónic         6              200         1200
49  7/21/2023    Juguetes         3               30           90

[1050 rows x 5 columns]

In [22]:
print('Filas y columnas: ', df_unido.shape)

Filas y columnas:  (1050, 5)

In [23]:
print('Columnas: ', df_unido.columns.tolist())

Columnas:  ['Fecha', 'Producto', 'Cantidad', 'Precio Unitario', 'Total Venta']

In [24]:
df_unido.dtypes

Fecha              object
Producto           object
Cantidad            int64
Precio Unitario     int64
Total Venta         int64
dtype: object

In [25]:
df_unido.describe()

          Cantidad  Precio Unitario  Total Venta
count  1050.000000      1050.000000  1050.000000
mean      5.490476        64.428571   349.761905
std       2.882577        72.437522   473.870983
min       1.000000        10.000000    10.000000
25%       3.000000        20.000000    70.000000
50%       5.000000        30.000000   150.000000
75%       8.000000        50.000000   400.000000
max      10.000000       200.000000  2000.000000

In [26]:
df_unido.isnull().sum()

Fecha              0
Producto           0
Cantidad           0
Precio Unitario    0
Total Venta        0
dtype: int64

In [28]:
print(df_unido.duplicated().sum())

29

In [29]:
df_unido.sample(5)

         Fecha   Producto  Cantidad  Precio Unitario  Total Venta
628  7/29/2023       Ropa         1               50           50
285  8/12/2023  Alimentos         6               10           60
437  11/5/2023  Alimentos         6               10           60
121  1/25/2023       Ropa        10               50          500
375  7/20/2023  Alimentos         4               10           40

In [30]:
df_unido['Fecha'] = pd.to_datetime(df_unido['Fecha'])

In [31]:
df_unido.dtypes

Fecha              datetime64[ns]
Producto                   object
Cantidad                    int64
Precio Unitario             int64
Total Venta                 int64
dtype: object

In [32]:
#¿Cuál es el producto más vendido?
producto_mas_vendido = df_unido.groupby('Producto')['Cantidad'].sum()
respuesta = producto_mas_vendido.sort_values(ascending=False).head(1)
respuesta

Producto
Alimentos    1262
Name: Cantidad, dtype: int64

In [38]:
#¿Cuál es el mes con más ventas?
df_unido['Mes'] = df_unido['Fecha'].dt.month
mes_con_mas_ventas = df_unido.groupby('Mes')['Cantidad'].sum()
mes_mas_vendido = mes_con_mas_ventas.idxmax()
print("Mes con más ventas:", mes_mas_vendido)

Mes con más ventas: 8

In [45]:
#Agrupa los datos por categoría de producto y analiza las ventas por categoría.
ventas_por_categoria = df_unido.groupby('Producto')['Total Venta'].sum()
ventas_por_categoria.sort_values(ascending=False)

Producto
Electrónic    244000
Ropa           56400
Juguetes       33390
Libros         20840
Alimentos      12620
Name: Total Venta, dtype: int64

In [ ]:
# guarda el DataFrame completo en un archivo .csv en tu ordenador.
# df.to_csv('Análisis_ventas.csv')