# Análisis de Datos Meteorológicos

Este proyecto consiste en analizar un conjunto de datos meteorológicos utilizando Python y NumPy. 
El objetivo es aplicar las técnicas de manipulación de arrays, tratamiento de datos faltantes, 
y análisis estadístico básico en un conjunto de datos del mundo real.

## Tareas a Realizar:
1. Crear un DataFrame a partir de los datos del archivo **datos_meteorologicos.csv**.
2. Realizar observaciones iniciales de los datos con Pandas.
3. Convertir las columnas del DataFrame en arrays de NumPy.
4. Identificar los datos faltantes en los arrays, y reemplazarlos por el promedio de los valores del respectivo array.
5. Realizar análisis estadísticos básicos. Mínimamente se espera que puedas extraer la siguiente información de los arrays:
    * La temperatura promedio
    * El total de precipitaciones
    * La máxima humedad registrada
    * La fecha más calurosa
    * La fehca más fría
6. Exportar los resultados a un nuevo archivo CSV.

### 1. Crear un DataFrame a partir de los datos del archivo datos_meteorologicos.csv.

In [88]:
import pandas as pd

In [89]:
import numpy as np

In [ ]:
df = pd.read_csv("C:/Users/tomor/OneDrive/Documentos/Programacion/Python para Data Science & Machine Learning/Proyectos/Numpy/Análisis_Metereológico/datos_meteorologicos.csv")

### 2. Realizar observaciones iniciales de los datos con Pandas.

In [91]:
df.head()

        Fecha  Temperatura  Precipitación    Humedad
0  01/01/2010    17.440675      10.957482  52.384637
1  02/01/2010    25.759468       5.315628  30.633530
2  03/01/2010    20.138169      15.317706  41.496715
3  04/01/2010    17.244159      13.151008  90.684704
4  05/01/2010    11.182740      16.413667  22.116422

In [92]:
df.shape

(5110, 4)

In [93]:
df.dtypes

Fecha             object
Temperatura      float64
Precipitación    float64
Humedad          float64
dtype: object

In [94]:
df.isnull().sum()

Fecha              0
Temperatura      255
Precipitación    255
Humedad          255
dtype: int64

In [95]:
df.duplicated().sum()

np.int64(0)

In [108]:
df.describe()

                     Fecha  Temperatura  Precipitación      Humedad
count                 5110  4855.000000    4855.000000  4855.000000
mean   2016-12-29 12:00:00    14.889296       9.901604    54.359061
min    2010-01-01 00:00:00    -9.996378       0.003008    10.014980
25%    2013-07-01 06:00:00     2.651777       4.756907    31.866578
50%    2016-12-29 12:00:00    14.693274       9.853698    54.254478
75%    2020-06-28 18:00:00    27.381451      14.966997    77.029500
max    2023-12-28 00:00:00    39.998201      19.999559    99.996582
std                    NaN    14.440466       5.801842    26.096345

In [96]:
df['Fecha'] = pd.to_datetime(df['Fecha'], dayfirst=True)
df.sample(5)

          Fecha  Temperatura  Precipitación    Humedad
4280 2021-09-20    10.750151       2.083016  51.138350
4641 2022-09-16    38.232700      14.447256  91.307691
3755 2020-04-13          NaN            NaN        NaN
3449 2019-06-12    -9.861452       9.765707  89.054170
3044 2018-05-03     3.027382      18.675419  96.849997

### 3. Convertir las columnas del DataFrame en arrays de NumPy.

In [97]:
temperatura = df['Temperatura'].to_numpy()
precipitacion = df['Precipitación'].to_numpy()
humedad = df['Humedad'].to_numpy()

### 4. Identificar los datos faltantes en los arrays, y reemplazarlos por el promedio de los valores del respectivo array.

In [98]:
# Identificar los NaN
temp_nulos = np.isnan(temperatura).sum()
precip_nulos = np.isnan(precipitacion).sum()
humed_nulos = np.isnan(humedad).sum()

print(temp_nulos)
print(precip_nulos)
print(humed_nulos)

255
255
255

In [99]:
# Calcular el promedio sin contar los NaN
temp_promedio = np.nanmean(temperatura)
# Reemplazar los NaN con el promedio
temperatura = np.where(np.isnan(temperatura), temp_promedio, temperatura)

precip_promedio = np.nanmean(precipitacion)
precipitacion = np.where(np.isnan(precipitacion), precip_promedio, precipitacion)

humed_promedio = np.nanmean(humedad)
humedad = np.where(np.isnan(humedad), humed_promedio, humedad)

In [101]:
temp_nulos = np.isnan(temperatura).sum()
precip_nulos = np.isnan(precipitacion).sum()
humed_nulos = np.isnan(humedad).sum()

print(temp_nulos)
print(precip_nulos)
print(humed_nulos)

0
0
0

### 5. Realizar análisis estadísticos básicos.

##### Temperatura promedio

In [121]:
temperatura_promedio = np.mean(temperatura)
temperatura_promedio

np.float64(14.889295723531713)

##### Total de precipitaciones

In [122]:
precipitaciones_totales = np.sum(precipitacion)
precipitaciones_totales

np.float64(50597.19438939993)

##### Máxima humedad registrada

In [123]:
humedad_maxima = np.max(humedad)
humedad_maxima

np.float64(99.99658156071747)

##### Fecha más calurosa

In [113]:
# Obtener la temperatura mas alta
mayor_temperatura = np.max(temperatura)
mayor_temperatura

np.float64(39.99820092713012)

In [124]:
# Obtener el índice correspondiente a esa temperatura
registro_mayor_temperatura = np.where(temperatura == mayor_temperatura)[0][0]
registro_mayor_temperatura

np.int64(2749)

In [125]:
# Fecha correspondiente al registro
fecha_mas_calurosa = df.iloc[registro_mayor_temperatura]['Fecha']
fecha_mas_calurosa

Timestamp('2017-07-12 00:00:00')

##### Fehca más fría

In [118]:
fecha_mas_fria = df.iloc[np.where(temperatura == np.min(temperatura))[0][0]]['Fecha']
fecha_mas_fria

Timestamp('2020-07-23 00:00:00')

### 6. Exportar los resultados a un nuevo archivo CSV.

In [127]:
resultados = {
    'Metrica' : ['Temperatura Promedio', 'Precipitaciones Totales', 'Humedad Máxima', 'Fecha Más Calurosa', 'Fecha Más Fría'],
    'Valor' : [temperatura_promedio, precipitaciones_totales, humedad_maxima, fecha_mas_calurosa, fecha_mas_fria]
}

df = pd.DataFrame(resultados)
#df.to_csv('Resultados análisis metereológico.csv', index= False)